server:
  port: 8080

spring:
  application:
    name: UserService
  datasource:
    url: jdbc:h2:mem:UserServiceDatabase
    username: sa
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update